@use '_hero';
@use 'components/_infos_bar';
@use 'components/_buttons';
@use '_event';
@use '_variables';

* {
    margin: 0;
    padding: 0;
    color: variables.$textColor;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 640px) {
        max-width: 80%;
    }

    @media (max-width: 1023px) {
        max-width: 90%;
    }
}